@import "includes/vars";

// region Token
img.token {
	font-size: 1.6em;
	right: 0.4em;
}
// endregion

// region Custom statblock styling
#pagecontent .rnd-name .source {
	position: relative;
	margin-right: 0.2em;
}

#pagecontent {
	background-size: 100% auto;
	background: url("../img/bestiary/stat-block-top-texture.webp") no-repeat, repeat top center, $rgb-bg-orange;
}

.night-mode {
	#pagecontent {
		background: $rgb-bg--night !important;
	}
}
// endregion

// region Proficiency dice rollers
[data-proficiency-dice-mode="dice"] {
	.rd__dc--rollable {
		color: $rgb-link-blue;
		cursor: pointer;
	}

	.rd__dc--rollable-text,
	.rd__roller--roll-prof-bonus {
		display: none;
	}

	.rd__dc--rollable-dice,
	.rd__roller--roll-prof-dice {
		display: inline;
	}
}

[data-proficiency-dice-mode="bonus"] {
	.rd__dc--rollable-text,
	.rd__roller--roll-prof-bonus {
		display: inline;
	}

	.rd__dc--rollable-dice,
	.rd__roller--roll-prof-dice {
		display: none;
	}
}

.night-mode [data-proficiency-dice-mode="dice"] .rd__dc--rollable {
	color: $rgb-link-blue--night;
}
// endregion

// region Encounter builder
.best__ {
	&ecgen-active {
		.lst__row--bestiary-sublist {
			cursor: default;
		}

		.lst__row--bestiary-sublist:hover {
			background: initial;
		}
	}
}

.best-ecgen {
	&__ {
		&visible,
		&visible--flex,
		&visible--flex-col {
			display: none;
		}

		&btn-list {
			padding: 0 2px;
			line-height: 12px;
			font-size: 9px;
			border-radius: 3px;
		}
	}
}

.best__ecgen-active {
	.best-ecgen {
		&__visible {
			display: block;
		}

		&__visible--flex {
			display: flex;
		}

		&__visible--flex-col {
			display: flex;
			flex-direction: column;
		}

		&__hidden {
			display: none !important;
		}

		&__name {
			width: 26.66666666%;
		}

		&__name--sub {
			width: 29.16666667%;
		}
	}
}
// endregion
