@import "includes/vars";

.inputArea,
.outputArea {
	width: 100%;
	height: 100%;
}

.select-inline {
	display: inline-block;
	width: initial;
}

.conv__ {
	&head {
		margin-top: 0;
		margin-bottom: 2px;
	}

	&out_control__wrp {
		padding: 0 3rem 0 0;
		flex-shrink: 0;
	}

	&disp-message {
		flex-shrink: 0;
		font-size: 13px;
		background-color: $rgb-bg--alt;
		border: 1px solid $rgb-border-grey;
		border-radius: 4px;
		margin-right: 3rem;

		&--warning {
			color: #df00ff;
		}

		&--error {
			color: red;
		}
	}
}

.night-mode {
	.conv__ {
		&disp-message {
			background-color: $rgb-bg--alt-night;
			border-color: $rgb-border-grey--night;
		}
	}
}

@media (max-width: 991px) {
	.view-col-wrapper {
		height: 40vh;
	}
}
