.crc__reset {
	min-width: 10rem;
	display: block;
}

.crc__row {
	display: flex;
	align-items: center;
	height: 30px;
	justify-content: space-between;
}

.crc__row label {
	margin-bottom: 0;
}

.crc__row input[type="checkbox"] {
	margin: 0;
}

.crc__hdr_mon_features {
	font-weight: bold;
}

.crc__mon_feature {
	width: 100%;
	font-weight: initial;
	cursor: pointer;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	padding: 4px 0;
}

.crc__mon_feature_wrp_cb {
	display: flex;
	white-space: nowrap;
	justify-content: space-around;
	align-items: center;
}

.crc__mon_feature input[type="number"] {
	width: 3em;
	vertical-align: middle;
	text-align: right;
}

.crc__mon_feature input[type="checkbox"] {
	margin: 0;
}

.crc__mon_feature:nth-child(even) {
	background: #d3d3d3;
}

.ve-night-mode .crc__mon_feature:nth-child(even) {
	background: rgb(0 0 0 / 31%);
}
