<div id="wrp-pagecontent" class="wrp-stats-table{{#if isStyleBook}} wrp-stats-table--book{{/if}}">
	<table id="pagecontent" class="w-100 stats{{#if isStyleBook}} stats--book{{/if}}{{#if stylePageContentAdditional}} {{stylePageContentAdditional}}{{/if}}"{{#if onscrollPageContent}} onscroll="{{onscrollPageContent}}"{{/if}}>
		<tr><th class="border" colspan="6"></th></tr>
		<tr><td colspan="6" class="initial-message">Select an entry from the list to view it here</td></tr>
		<tr><th class="border" colspan="6"></th></tr>
	</table>
</div>
