<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-flex-vh-center mt-2 no-print">
		<button type="button" class="btn btn-default btn-xs mr-2" id="btn-book">Book View</button>
		<button type="button" class="btn btn-default btn-xs mr-2" id="btn-show-table" title="View and Download Psionics in Tabular Format">Table View</button>
		{{> "btngroupManager" }}
	</div>
</div>
