<div class="ve-text-center mt-2 no-print">
	{{#if isPrinterView}}
	<button type="button" class="btn btn-default btn-xs" id="btn-book">Printer View</button>
	{{/if}}
	<button type="button" class="btn btn-xs btn-info" id="manage-brew">Manage Homebrew</button>
</div>
