<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}
{{#if isWrpToken}}

	{{> "listRhsWrpToken" }}{{/if}}
	{{> "listWrpPagecontent" }}

	{{> "listRhsWrpFooterControls" }}
</div>
