@use "vars";

// region Expose variables for homebrew
:root {
	--rgb-font: #{vars.$rgb-font};
	--rgb-font--muted: #{vars.$rgb-font--muted};
	--rgb-name: #{vars.$rgb-name-red};
	--rgb-bg: #{vars.$rgb-bg};
	--rgb-bg--alt: #{vars.$rgb-bg--alt};
	--rgb-border--statblock: #{vars.$rgb-border-yellow--statblock};
}

:root.night-mode {
	--rgb-font: #{vars.$rgb-font--night};
	--rgb-name: #{vars.$rgb-name-red--night};
	--rgb-bg: #{vars.$rgb-bg--night};
	--rgb-bg--alt: #{vars.$rgb-bg--alt-night};
	--rgb-border--statblock: #{vars.$rgb-border-grey--statblock-night};
}
// endregion
