@import "vars";

.source {
	$rgb-source-category-site: #e50711;
	$rgb-source-category-extras: #9d4c4f;
	$rgb-source-category-prerelease: $rgb-subclass-ua;
	$rgb-source-category-prerelease--local: #54ce19;
	$rgb-source-category-homebrew: $rgb-class-brew;
	$rgb-source-category-homebrew--local: #4b40ed;

	$rgb-source-PHB: #4a6898;
	$rgb-source-DMG: purple;
	$rgb-source-MM: green;
	$rgb-source-SCAG: #76af76;
	$rgb-source-VGM: grey;
	$rgb-source-OGA: #933d0f;
	$rgb-source-XGE: #ba7c00;
	$rgb-source-XMtS: #830051;
	$rgb-source-HotDQ: #ad8eba;
	$rgb-source-RoT: #ff2900;
	$rgb-source-CoS: purple;
	$rgb-source-OotA: grey;
	$rgb-source-SKT: darkcyan;
	$rgb-source-PotA: #57b6c6;
	$rgb-source-LMoP: #8da851;
	$rgb-source-TftYP: #c94029;
	$rgb-source-ToA: #666f30;
	$rgb-source-MTF: #1f6e7b;
	$rgb-source-WDH: #d4af37;
	$rgb-source-GGR: #bfa76c;
	$rgb-source-WDMM: #a2201f;
	$rgb-source-LLK: #6e7a71;
	$rgb-source-AZfyT: #4667a7;
	$rgb-source-GoS: #3d695a;
	$rgb-source-AI: #5baf04;
	$rgb-source-ESK: #6b909a;
	$rgb-source-BGDIA: #752418;
	$rgb-source-ERLW: #983426;
	$rgb-source-RMR: #5c7c27;
	$rgb-source-MFF: #92817f;
	$rgb-source-LR: #78613c;
	$rgb-source-IMR: #a19364;
	$rgb-source-SADS: #333bab;
	$rgb-source-EGW: #855a6e;
	$rgb-source-MOT: #556b2e;
	$rgb-source-IDRotF: #8fb8c0;
	$rgb-source-TCE: #a24d08;
	$rgb-source-AL: $rgb-source-category-site;
	$rgb-source-HF: #ac9544;
	$rgb-source-CM: #e6585e;
	$rgb-source-VRGR: #bd000f;
	$rgb-source-RtG: #8a536a;
	$rgb-source-AitFR: #6e5ab9;
	$rgb-source-WBtW: #7151b6;
	$rgb-source-DoD: #fe4935;
	$rgb-source-MaBJoV: #7a2854;
	$rgb-source-FTD: #b82a15;
	$rgb-source-NRH: #bd335b;
	$rgb-source-SCC: #be9c56;
	$rgb-source-MPMM: #5c758d;
	$rgb-source-CRCotN: #ac4a70;
	$rgb-source-JttRC: #cf48e2;
	$rgb-source-SAiS: #056b97;
	$rgb-source-DoSI: #478bb8;
	$rgb-source-DSotDQ: #851e20;
	$rgb-source-PSA: #d76404;
	$rgb-source-PSD: #5db7da;
	$rgb-source-PSI: #5d4696;
	$rgb-source-PSK: #a27135;
	$rgb-source-PSX: #bb2722;
	$rgb-source-PSZ: #6f8a2d;
	$rgb-source-KftGV: #876e38;
	$rgb-source-HAT: #a24545;
	$rgb-source-BGG: #469cb7;
	$rgb-source-TDCSR: #642e4b;
	$rgb-source-PaBTSO: #b2b34e;
	$rgb-source-PAitM: #a23087;
	$rgb-source-CoA: #a13a0f;
	$rgb-source-HFFotM: #7b702c;
	$rgb-source-BMT: #694165;
	$rgb-source-GHLoE: #c07e4e;
	$rgb-source-DoDk: #825494;

	// region Categories

	&-category- {
		&site {
			color: $rgb-source-category-site !important;
			border-color: $rgb-source-category-site !important;
			text-decoration-color: $rgb-source-category-site !important;
		}

		&extras {
			color: $rgb-source-category-extras !important;
			border-color: $rgb-source-category-extras !important;
			text-decoration-color: $rgb-source-category-extras !important;
		}

		&homebrew {
			color: $rgb-source-category-homebrew !important;
			border-color: $rgb-source-category-homebrew !important;
			text-decoration-color: $rgb-source-category-homebrew !important;

			&--local {
				color: $rgb-source-category-homebrew--local !important;
				border-color: $rgb-source-category-homebrew--local !important;
				text-decoration-color: $rgb-source-category-homebrew--local !important;
			}
		}

		&spicy {
			color: $rgb-source-category-prerelease !important;
			border-color: $rgb-source-category-prerelease !important;
			text-decoration-color: $rgb-source-category-prerelease !important;

			&--local {
				color: $rgb-source-category-prerelease--local !important;
				border-color: $rgb-source-category-prerelease--local !important;
				text-decoration-color: $rgb-source-category-prerelease--local !important;
			}
		}
	}

	// endregion

	// region Specific sources

	&PHB {
		color: $rgb-source-PHB !important;
		border-color: $rgb-source-PHB !important;
		text-decoration-color: $rgb-source-PHB !important;
	}

	&DMG {
		color: $rgb-source-DMG !important;
		border-color: $rgb-source-DMG !important;
		text-decoration-color: $rgb-source-DMG !important;
	}

	&MM {
		color: $rgb-source-MM !important;
		border-color: $rgb-source-MM !important;
		text-decoration-color: $rgb-source-MM !important;
	}

	&SCAG {
		color: $rgb-source-SCAG !important;
		border-color: $rgb-source-SCAG !important;
		text-decoration-color: $rgb-source-SCAG !important;
	}

	&VGM {
		color: $rgb-source-VGM !important;
		border-color: $rgb-source-VGM !important;
		text-decoration-color: $rgb-source-VGM !important;
	}

	&OGA {
		color: $rgb-source-OGA !important;
		border-color: $rgb-source-OGA !important;
		text-decoration-color: $rgb-source-OGA !important;
	}

	&XGE,
	&TTP { // Tortles are counted as an XGE race for AL
		color: $rgb-source-XGE !important;
		border-color: $rgb-source-XGE !important;
		text-decoration-color: $rgb-source-XGE !important;
	}

	&XMtS {
		color: $rgb-source-XMtS !important;
		border-color: $rgb-source-XMtS !important;
		text-decoration-color: $rgb-source-XMtS !important;
	}

	&HotDQ {
		color: $rgb-source-HotDQ !important;
		border-color: $rgb-source-HotDQ !important;
		text-decoration-color: $rgb-source-HotDQ !important;
	}

	&RoT {
		color: $rgb-source-RoT !important;
		border-color: $rgb-source-RoT !important;
		text-decoration-color: $rgb-source-RoT !important;
	}

	&CoS {
		color: $rgb-source-CoS !important;
		border-color: $rgb-source-CoS !important;
		text-decoration-color: $rgb-source-CoS !important;
	}

	&OotA {
		color: $rgb-source-OotA !important;
		border-color: $rgb-source-OotA !important;
		text-decoration-color: $rgb-source-OotA !important;
	}

	&SKT {
		color: $rgb-source-SKT !important;
		border-color: $rgb-source-SKT !important;
		text-decoration-color: $rgb-source-SKT !important;
	}

	&PotA,
	&EEPC {
		color: $rgb-source-PotA !important;
		border-color: $rgb-source-PotA !important;
		text-decoration-color: $rgb-source-PotA !important;
	}

	&LMoP {
		color: $rgb-source-LMoP !important;
		border-color: $rgb-source-LMoP !important;
		text-decoration-color: $rgb-source-LMoP !important;
	}

	&TftYP {
		color: $rgb-source-TftYP !important;
		border-color: $rgb-source-TftYP !important;
		text-decoration-color: $rgb-source-TftYP !important;
	}

	&ToA {
		color: $rgb-source-ToA !important;
		border-color: $rgb-source-ToA !important;
		text-decoration-color: $rgb-source-ToA !important;
	}

	&MTF {
		color: $rgb-source-MTF !important;
		border-color: $rgb-source-MTF !important;
		text-decoration-color: $rgb-source-MTF !important;
	}

	&WDH {
		color: $rgb-source-WDH !important;
		border-color: $rgb-source-WDH !important;
		text-decoration-color: $rgb-source-WDH !important;
	}

	&GGR,
	&KKW {
		color: $rgb-source-GGR !important;
		border-color: $rgb-source-GGR !important;
		text-decoration-color: $rgb-source-GGR !important;
	}

	&WDMM {
		color: $rgb-source-WDMM !important;
		border-color: $rgb-source-WDMM !important;
		text-decoration-color: $rgb-source-WDMM !important;
	}

	&LLK {
		color: $rgb-source-LLK !important;
		border-color: $rgb-source-LLK !important;
		text-decoration-color: $rgb-source-LLK !important;
	}

	&AZfyT {
		color: $rgb-source-AZfyT !important;
		border-color: $rgb-source-AZfyT !important;
		text-decoration-color: $rgb-source-AZfyT !important;
	}

	&GoS {
		color: $rgb-source-GoS !important;
		border-color: $rgb-source-GoS !important;
		text-decoration-color: $rgb-source-GoS !important;
	}

	&AI,
	&OoW {
		color: $rgb-source-AI !important;
		border-color: $rgb-source-AI !important;
		text-decoration-color: $rgb-source-AI !important;
	}

	// These are all from the same family
	&ESK,
	&DIP,
	&DC,
	&SDW,
	&SLW {
		color: $rgb-source-ESK !important;
		border-color: $rgb-source-ESK !important;
		text-decoration-color: $rgb-source-ESK !important;
	}

	&BGDIA {
		color: $rgb-source-BGDIA !important;
		border-color: $rgb-source-BGDIA !important;
		text-decoration-color: $rgb-source-BGDIA !important;
	}

	&ERLW,
	&EFR {
		color: $rgb-source-ERLW !important;
		border-color: $rgb-source-ERLW !important;
		text-decoration-color: $rgb-source-ERLW !important;
	}

	&RMR,
	&RMBRE {
		color: $rgb-source-RMR !important;
		border-color: $rgb-source-RMR !important;
		text-decoration-color: $rgb-source-RMR !important;
	}

	&MFF {
		color: $rgb-source-MFF !important;
		border-color: $rgb-source-MFF !important;
		text-decoration-color: $rgb-source-MFF !important;
	}

	&LR {
		color: $rgb-source-LR !important;
		border-color: $rgb-source-LR !important;
		text-decoration-color: $rgb-source-LR !important;
	}

	&IMR {
		color: $rgb-source-IMR !important;
		border-color: $rgb-source-IMR !important;
		text-decoration-color: $rgb-source-IMR !important;
	}

	&SADS {
		color: $rgb-source-SADS !important;
		border-color: $rgb-source-SADS !important;
		text-decoration-color: $rgb-source-SADS !important;
	}

	&EGW,
	&FS,
	&DD,
	&US,
	&ToR {
		color: $rgb-source-EGW !important;
		border-color: $rgb-source-EGW !important;
		text-decoration-color: $rgb-source-EGW !important;
	}

	&MOT {
		color: $rgb-source-MOT !important;
		border-color: $rgb-source-MOT !important;
		text-decoration-color: $rgb-source-MOT !important;
	}

	&IDRotF {
		color: $rgb-source-IDRotF !important;
		border-color: $rgb-source-IDRotF !important;
		text-decoration-color: $rgb-source-IDRotF !important;
	}

	&TCE {
		color: $rgb-source-TCE !important;
		border-color: $rgb-source-TCE !important;
		text-decoration-color: $rgb-source-TCE !important;
	}

	&AL {
		color: $rgb-source-AL !important;
		border-color: $rgb-source-AL !important;
		text-decoration-color: $rgb-source-AL !important;
	}

	&HF {
		color: $rgb-source-HF !important;
		border-color: $rgb-source-HF !important;
		text-decoration-color: $rgb-source-HF !important;
	}

	&CM {
		color: $rgb-source-CM !important;
		border-color: $rgb-source-CM !important;
		text-decoration-color: $rgb-source-CM !important;
	}

	&VRGR,
	&HoL {
		color: $rgb-source-VRGR !important;
		border-color: $rgb-source-VRGR !important;
		text-decoration-color: $rgb-source-VRGR !important;
	}

	&RtG {
		color: $rgb-source-RtG !important;
		border-color: $rgb-source-RtG !important;
		text-decoration-color: $rgb-source-RtG !important;
	}

	&AitFR {
		color: $rgb-source-AitFR !important;
		border-color: $rgb-source-AitFR !important;
		text-decoration-color: $rgb-source-AitFR !important;

		&-ISF,
		&-THP,
		&-AVT,
		&-DN,
		&-FCD {
			color: $rgb-source-AitFR !important;
			border-color: $rgb-source-AitFR !important;
			text-decoration-color: $rgb-source-AitFR !important;
		}
	}

	&WBtW {
		color: $rgb-source-WBtW !important;
		border-color: $rgb-source-WBtW !important;
		text-decoration-color: $rgb-source-WBtW !important;
	}

	&DoD {
		color: $rgb-source-DoD !important;
		border-color: $rgb-source-DoD !important;
		text-decoration-color: $rgb-source-DoD !important;
	}

	&MaBJoV {
		color: $rgb-source-MaBJoV !important;
		border-color: $rgb-source-MaBJoV !important;
		text-decoration-color: $rgb-source-MaBJoV !important;
	}

	&FTD {
		color: $rgb-source-FTD !important;
		border-color: $rgb-source-FTD !important;
		text-decoration-color: $rgb-source-FTD !important;
	}

	&NRH {
		color: $rgb-source-NRH !important;
		border-color: $rgb-source-NRH !important;
		text-decoration-color: $rgb-source-NRH !important;

		&-TCMC,
		&-AVitW,
		&-ASS,
		&-CoI,
		&-TLT,
		&-AWoL,
		&-AT {
			color: $rgb-source-NRH !important;
			border-color: $rgb-source-NRH !important;
			text-decoration-color: $rgb-source-NRH !important;
		}
	}

	&SCC {
		color: $rgb-source-SCC !important;
		border-color: $rgb-source-SCC !important;
		text-decoration-color: $rgb-source-SCC !important;

		&-CK,
		&-HfMT,
		&-TMM,
		&-ARiR {
			color: $rgb-source-SCC !important;
			border-color: $rgb-source-SCC !important;
			text-decoration-color: $rgb-source-SCC !important;
		}
	}

	&MPMM {
		color: $rgb-source-MPMM !important;
		border-color: $rgb-source-MPMM !important;
		text-decoration-color: $rgb-source-MPMM !important;
	}

	&CRCotN {
		color: $rgb-source-CRCotN !important;
		border-color: $rgb-source-CRCotN !important;
		text-decoration-color: $rgb-source-CRCotN !important;
	}

	&JttRC {
		color: $rgb-source-JttRC !important;
		border-color: $rgb-source-JttRC !important;
		text-decoration-color: $rgb-source-JttRC !important;
	}

	&SjA,
	&SAiS,
	&AAG,
	&BAM,
	&LoX {
		color: $rgb-source-SAiS !important;
		border-color: $rgb-source-SAiS !important;
		text-decoration-color: $rgb-source-SAiS !important;
	}

	&DoSI {
		color: $rgb-source-DoSI !important;
		border-color: $rgb-source-DoSI !important;
		text-decoration-color: $rgb-source-DoSI !important;
	}

	&DSotDQ {
		color: $rgb-source-DSotDQ !important;
		border-color: $rgb-source-DSotDQ !important;
		text-decoration-color: $rgb-source-DSotDQ !important;
	}

	&PSA {
		color: $rgb-source-PSA !important;
		border-color: $rgb-source-PSA !important;
		text-decoration-color: $rgb-source-PSA !important;
	}

	&PSD {
		color: $rgb-source-PSD !important;
		border-color: $rgb-source-PSD !important;
		text-decoration-color: $rgb-source-PSD !important;
	}

	&PSI {
		color: $rgb-source-PSI !important;
		border-color: $rgb-source-PSI !important;
		text-decoration-color: $rgb-source-PSI !important;
	}

	&PSK {
		color: $rgb-source-PSK !important;
		border-color: $rgb-source-PSK !important;
		text-decoration-color: $rgb-source-PSK !important;
	}

	&PSX {
		color: $rgb-source-PSX !important;
		border-color: $rgb-source-PSX !important;
		text-decoration-color: $rgb-source-PSX !important;
	}

	&PSZ {
		color: $rgb-source-PSZ !important;
		border-color: $rgb-source-PSZ !important;
		text-decoration-color: $rgb-source-PSZ !important;
	}

	&KftGV {
		color: $rgb-source-KftGV !important;
		border-color: $rgb-source-KftGV !important;
		text-decoration-color: $rgb-source-KftGV !important;
	}

	&HAT-TG,
	&HAT-LMI {
		color: $rgb-source-HAT !important;
		border-color: $rgb-source-HAT !important;
		text-decoration-color: $rgb-source-HAT !important;
	}

	&BGG {
		color: $rgb-source-BGG !important;
		border-color: $rgb-source-BGG !important;
		text-decoration-color: $rgb-source-BGG !important;
	}

	&TDCSR {
		color: $rgb-source-TDCSR !important;
		border-color: $rgb-source-TDCSR !important;
		text-decoration-color: $rgb-source-TDCSR !important;
	}

	&PaBTSO {
		color: $rgb-source-PaBTSO !important;
		border-color: $rgb-source-PaBTSO !important;
		text-decoration-color: $rgb-source-PaBTSO !important;
	}

	&PAitM,
	&SatO,
	&ToFW,
	&MPP {
		color: $rgb-source-PAitM !important;
		border-color: $rgb-source-PAitM !important;
		text-decoration-color: $rgb-source-PAitM !important;
	}

	&CoA {
		color: $rgb-source-CoA !important;
		border-color: $rgb-source-CoA !important;
		text-decoration-color: $rgb-source-CoA !important;
	}

	&HFFotM {
		color: $rgb-source-HFFotM !important;
		border-color: $rgb-source-HFFotM !important;
		text-decoration-color: $rgb-source-HFFotM !important;
	}

	&BMT {
		color: $rgb-source-BMT !important;
		border-color: $rgb-source-BMT !important;
		text-decoration-color: $rgb-source-BMT !important;
	}

	&GHLoE {
		color: $rgb-source-GHLoE !important;
		border-color: $rgb-source-GHLoE !important;
		text-decoration-color: $rgb-source-GHLoE !important;
	}

	&DoDk {
		color: $rgb-source-DoDk !important;
		border-color: $rgb-source-DoDk !important;
		text-decoration-color: $rgb-source-DoDk !important;
	}
	// endregion
}

.sp__ {
	&school- {
		&A {
			color: #00b921;
		}

		&V {
			color: #bb0100;
		}

		&E {
			color: #b30083;
		}

		&I {
			color: #006dbd;
		}

		&D {
			color: #00adb3;
		}

		&N {
			color: #6c00cc;
		}

		&T {
			color: #ccbe00;
		}

		&C {
			color: #bd0044;
		}
	}
}

.ve-source-marker {
	position: relative;
	font-size: 80%;
	display: inline-block;
	margin-left: 1px;
	align-self: start;

	&--list {
		left: 1px;
		margin-top: 1px;
		margin-left: -20px;
		padding-left: 20px;
		line-height: 8px;
		height: 8px;
		width: 8px;
	}

	&--partnered {
		color: #00c797;
	}

	&--legacy {
		color: $rgb-font--muted;
	}
}
