@import "vars";

.night-mode {
	.stripe- {
		&even {
			&:nth-child(even) {
				background: $rgb-stripe-grey--night;
			}
		}

		&odd {
			&:nth-child(odd) {
				background: $rgb-stripe-grey--night;
			}
		}

		&child- {
			&even-first {
				&:nth-child(even) > :first-child {
					background: $rgb-stripe-grey--night;
				}
			}
		}
	}

	.veapp {
		&__ {
			&ele-hoverable {
				&:hover {
					background: $rgb-bg--alt-night;
				}
			}
		}
	}
}
