<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-text-center mt-2 no-print">
		<button type="button" class="btn btn-default btn-xs" id="btn-book">Book View</button>
		<button type="button" class="btn btn-default btn-xs" id="btn-show-table" title="View and Download Psionics in Tabular Format">Table View</button>
		<button type="button" class="btn btn-xs btn-info" id="manage-brew">Manage Homebrew</button>
	</div>
</div>
